
config SHIELD_pedantric1_LEFT
    def_bool $(shields_list_contains,pedantric1_left)

config SHIELD_pedantric1_RIGHT
    def_bool $(shields_list_contains,pedantric1_right)

config SHIELD_pedantric1_DONGLE
    def_bool $(shields_list_contains,pedantric1_dongle)